In [1]:
import pandas as pd

try:
    sales = pd.read_csv("sales.csv", parse_dates=["date"], dtype={"product": "category"})
except FileNotFoundError:
    raise SystemExit("File not found. Please check the file path.")

In [2]:
# Display the first 5 rows of the sales DataFrame
sales.head()

   transaction_id  customer_id product  quantity  price       date
0               1          101   Apple         2    0.5 2023-01-01
1               2          102  Banana         5    0.2 2023-01-01
2               3          103  Orange         3    0.3 2023-01-02
3               4          101  Banana         2    0.2 2023-01-03
4               5          104   Apple         4    0.5 2023-01-04

In [3]:
# Check data types and missing values
sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   transaction_id  8 non-null      int64
 1   customer_id     8 non-null      int64
 2   product         8 non-null      category
 3   quantity        8 non-null      int64
 4   price           8 non-null      float64
 5   date            8 non-null      datetime64[ns]
dtypes: category(1), datetime64[ns](1), float64(1), int64(3)
memory usage: 484.0 bytes

In [4]:
# Show the list of columns
sales.columns.tolist()

['transaction_id', 'customer_id', 'product', 'quantity', 'price', 'date']

In [5]:
# Show the shape of the DataFrame.
sales.shape

(8, 6)

In [6]:
# Create a new column total_sales = quantity * price.
sales["total_sales"] = sales["quantity"] * sales["price"]

In [7]:
# Filter transactions where product == "Apple".
apple_sales = sales.query("product == 'Apple'").reset_index(drop=True)

apple_sales.head()

,transaction_id,customer_id,product,quantity,price,date,total_sales
0,1,101,Apple,2,0.5,2023-01-01,1.0
1,5,104,Apple,4,0.5,2023-01-04,2.0
2,7,103,Apple,2,0.5,2023-01-05,1.0

In [8]:
# Calculate the total revenue.
print("Total revenue:", sales["total_sales"].sum().round(2))

Total revenue: 8.4

In [9]:
# Count how many unique customers there are.
print("Unique customers:", sales["customer_id"].nunique())

Unique customers: 4

In [10]:
# Group by customer_id and calculate their total purchases
sales.groupby("customer_id")["total_sales"].sum().sort_values(ascending=False)

customer_id
101    3.2
104    2.0
103    1.9
102    1.3
Name: total_sales, dtype: float64

In [11]:
# Find which product generated the most revenue overall
sales.groupby("product", observed=False)["total_sales"].sum().nlargest(1)

product
Apple    4.0
Name: total_sales, dtype: float64

In [12]:
# Identify which customer spent the most in total.
sales.groupby("customer_id", observed=False)["total_sales"].sum().nlargest(1)

customer_id
101    3.2
Name: total_sales, dtype: float64

In [13]:
# Find the date with the highest total sales.
sales.groupby("date")["total_sales"].sum().nlargest(1)

date
2023-01-01    2.0
Name: total_sales, dtype: float64